/* 通用样式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding-top: 60px; /* 确保内容不会被覆盖 */
}

/* 全局链接样式 */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}